body{
    margin:0;
    padding:0;
    background-color: rgb(69, 235, 157);
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
  }
  .search-container{
      background: #f0da79;
      height: 30px;
      border-radius: 30px;
      padding: 10px 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      transition: 0.8s;
      box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.438),
      -4px -4px 6px 0 rgba(223, 226, 230, 0.2),
      inset -4px -4px 6px 0 rgba(255, 255, 255, 0.376),
      inset 4px 4px 6px 0 rgba(0, 0, 0, 3);
  }
  .search-container:hover > .search-input{
      width: 400px;
  }
  .search-container .search-input{
      background: transparent;
      border: none;
      outline: none;
      width: 0px;
      font-weight: 500;
      font-size: 16px;
      transition: 0.8s;
  }
  .search-container .search-btn .fas{
      color: rgb(69, 235, 157);
  }
.search-container:hover{
    animation: hoverShake 0.15s linear 0;
} 
