body{
    margin:0;
    padding:0;
    background-color: rgb(49, 241, 107);
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
  }

  .search-container{
      background: #ffffff;
      height: 30px;
      border-radius: 30px;
      padding: 10px 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      transition: 0.8s;
      box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, .3),
      -4px -4px 6px 0 rgba(116, 125, 136, .2),
      inset -4px -4px 6px 0 rgba(255, 255, 255, .2),
      inset 4px 4px 6px 0 rgba(0, 0, 0, 3);
  }

  .search-container:hover > .search-input{
      width: 400px;
  }

  .search-container .search-input{
      background: transparent;
      border: none;
      outline: none;
      width: 0px;
      font-weight: 500;
      font-size: 16px;
      transition: 0.8s;
  }

  .search-container .search-btn .fas{
      color: #216867;
  }

.search-container:hover{
    animation: hoverShake 0.15s linear 0;
    
}

How TO - CSS/JS Modal
Learn how to create a Modal Box with CSS and JavaScript.

How To Create a Modal Box
A modal is a dialog box/popup window that is displayed on top of the current page:

Step 1) Add HTML:
Example
<!-- Trigger/Open The Modal -->
<button id="myBtn">Open Modal</button>

<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <p>Some text in the Modal..</p>
  </div>

</div>
Step 2) Add CSS:
Example
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


